# Movie Recommendation System Uisng Machine Learning

In [1]:
import pandas as pd
import numpy as np

In [2]:
Mdf = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
Cdf = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
Mdf = Mdf.merge(Cdf, on='title')

In [5]:
df = Mdf

In [6]:
print(df.shape)

(4809, 23)

In [7]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
df = df[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
df.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
import ast

# Function to extract name values from genres or keywords
def extract_names(obj):
    try:
        return [item['name'] for item in ast.literal_eval(obj)]
    except:
        return []

# Function to extract top 3 actors
def extract_top_cast(obj):
    try:
        return [item['name'] for item in ast.literal_eval(obj)[:3]]
    except:
        return []

# Function to extract director
def extract_director(obj):
    try:
        for item in ast.literal_eval(obj):
            if item['job'] == 'Director':
                return [item['name']]
        return []
    except:
        return []

In [10]:
df['genres'] = df['genres'].apply(extract_names)
df['keywords'] = df['keywords'].apply(extract_names)
df['cast'] = df['cast'].apply(extract_top_cast)
df['crew'] = df['crew'].apply(extract_director)

# Preview results
df.head(3)

C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3791407979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(extract_names)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3791407979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(extract_names)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3791407979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(extract_top_cast)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3791407979.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(extract_director)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

In [11]:
df['overview'] = df['overview'].fillna('')

# Split overview into words
df['overview'] = df['overview'].apply(lambda x: x.split())

# Remove spaces and lowercase everything for consistency
def clean_text(lst):
    return [i.replace(" ", "").lower() for i in lst]

df['genres'] = df['genres'].apply(clean_text)
df['keywords'] = df['keywords'].apply(clean_text)
df['cast'] = df['cast'].apply(clean_text)
df['crew'] = df['crew'].apply(clean_text)

C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].fillna('')
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].apply(lambda x: x.split())
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(clean_text)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(clean_text)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(clean_text)
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\3472509372.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(clean_text)

In [12]:
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['crew']
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\986831289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['crew']
C:\Users\sharm\AppData\Local\Temp\ipykernel_10760\986831289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [13]:
new_df = df[['movie_id', 'title', 'tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Initialize vectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

# Convert tags to vectors
vectors = cv.fit_transform(new_df['tags']).toarray()

# Check shape of the vector matrix
print(vectors.shape)

# Compute similarity matrix
similarity = cosine_similarity(vectors)

(4809, 5000)

In [15]:
def recommend(movie):
    try:
        index = new_df[new_df['title'] == movie].index[0]
        distances = list(enumerate(similarity[index]))
        movies_list = sorted(distances, key=lambda x: x[1], reverse=True)[1:6]

        print(f"\n🎬 Because you liked **{movie}**, you might also enjoy:")
        for i in movies_list:
            print("👉", new_df.iloc[i[0]].title)
    except:
        print("❌ Movie not found. Please check the name or try a different one.")

In [16]:
recommend("Avatar")

🎬 Because you liked **Avatar**, you might also enjoy:
👉 Titan A.E.
👉 Small Soldiers
👉 Ender's Game
👉 Independence Day
👉 Aliens vs Predator: Requiem

In [19]:
import pickle
import joblib

# Save the movie DataFrame
pickle.dump(new_df, open('movies.pkl', 'wb'))

# Save the existing similarity matrix with compression (higher = more compressed, but slower)
joblib.dump(similarity, "similarity_compressed.pkl", compress=3)

print("✅ similarity matrix compressed and saved as similarity_compressed.pkl")

✅ similarity matrix compressed and saved as similarity_compressed.pkl